/* 
    Cores
Rose Red       #922C40
Desert Sun     #DC9750
Champagne      #F3EAC0
Dark Blue      #1E2640
*/

/* Geral */
html{
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    margin: 0;
    padding: 0;
}
.highlight-text{
    font-weight: 900;
    color: #F3EAC0;
}
.divider{
    padding: 50px 0;
    background-color: #1E2640;
}
.container-fluid{
    margin: auto;
}

/*NavBar*/
nav{
    background-color: #1E2640;
    padding: 30px 0;
}
#logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 12%;
    height: auto;
    cursor: pointer;
}
#logo h2{
    padding: 0;
    margin: 0;
    margin-left: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: right;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    transition: 0.2s;
    border-bottom: 3px solid rgba(0,0,0,0);
}
nav ul li a:hover{
    border-bottom: 3px solid #F3EAC0;
    color: #FFF;
}
.active{
    font-weight: bolder;
}
.contact{
    background-color: #F3EAC0;
    padding: 10px 20px;
    color: #1E2640 !important;
    font-weight: 500;
    border-radius: 2px;
    margin-left: 25px;
    transition: 0.3s;
}
.contact:hover{
    background-color: #cd9750;
    border-bottom: 3px solid #cd9750;
}

/*Showcase*/
#showcase{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(img/showcase.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}
#showcase img{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#showcase h1{
    font-size: 1.7em;
}
#showcase h1, #showcase p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 50px;
}
#showcase p{
    margin: 10px 0;
}
#showcase button{
    margin-top: 10px;
    border: none;
    padding: 10px 30px;
    background-color: #1E2640;
    color: #FFF;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 2px;
}
#showcase button:hover{
    background-color: #922C40;
    color: #F3EAC0;
}
#showcase hr{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Sobre Mim */
#sobre{
    background-color: #1E2640;
    padding: 100px 0;
}
#sobre h2, #preco h2, #servicos h2, #galeria h2{
    margin-bottom: 50px;
}
.img-luciana{
    border-radius: 50%;
    width:85%;
    display: block;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    border: 3px solid #FFF;
    padding: 15px;
    transition: 0.5s;
    /*box-shadow: -4px 10px 28px -4px #F3EAC0;*/
}
.img-luciana:hover{
    padding: 5px;
}
.imagem-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    display: flex;
    align-content: center;
    margin-top: 10px;
}
.social i{
    font-size: 1.5em;
    color: #F3EAC0;
    margin-right: 10px;
}
.social a{
    text-decoration: none;
    color: #fff;
    align-self: center;
    display: block;
}
.social-mobile{
    display: none;
}
.about-txt {
    width: auto;
    height: auto;
    font-size: 20px;
    color: #fff;
}
.texto-sobre{
    display: flex;
    align-items: center;
}
.container-about {
    color: #F3EAC0;
}
.sobre-mim {
    padding-top: 10px;
    text-align: center;

}
/* Serviços */
#servicos{
    background-color: #F3EAC0;
    text-align: center;
    padding: 100px 0;
    color: #1E2640;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    padding: 50px;
    margin: 50px 0;
}
.conteudo img{
    display: block;
    margin: 0 auto;
    padding: 25px 0;
}
.conteudo p{
    font-size: 1.1em !important;
}
.conteudo h3{
    font-weight: 700;
    color: #1E2640;
}
.meio{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

/* Galeria */
#galeria{
    padding: 100px 0;
    text-align: center;
    color: #1E2640;
}
#galeria iframe{
    width: 100%;
    height: 360px;
    border-radius: 10px;
}
#galeria .conteudo-video{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#galeria .col{
    display: flex;
    justify-content: center;
    align-items: center;
}
#galeria h3{
    font-size: 4em;
    font-weight: 500;
}

/* Preços */
#preco{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 50px 0;
}
#preco h2{
    text-align: center;
    color: #1E2640;
}
#preco p{
    text-align: center;
    margin-bottom: 50px;
}
.list-unstyled{
    padding: 25px 0;
}
.table-responsive{
    margin-top: 50px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.enterprise {
    border: 2px solid #1E2640;
    background-color: #1E2640;
    color: aliceblue;
}
.enterprises {
    border: 2px solid #1E2640;
}

.blue-btn {
    color: aliceblue;
    background-color: #1E2640;
    transition: 0.2s;
}
.text-muted{
    font-size: 0.5em;
}
.blue-btn:hover {
    color: #F3EAC0;
    background-color: #922C40;
}
.btn-outline-dark{
    transition: 0.2s;
}
.btn-outline-dark:hover{
    background-color: #922C40;
    color: #F3EAC0;
    border: 1px solid rgba(0,0,0,0);
}
/* Modal */
.modal-header{
    background-color: #1E2640;
    color: #eee;
}
.close{
    background-color: #922C40;
    color: white;
}

/* Avalição de usuarios */
.card {
    border: none;
}
.user-content p{
    margin-top: 5px;
    font-size: 1em !important;
}
.ratings-lateral{
    margin-top: 50px;
}
.ratings i {
    color: #1E2640;
}

.image-user {
    object-fit: cover;
    border-radius: 100%;
}
footer{
    background-color: #1E2640;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: #F3EAC0;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #F3EAC0;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cd9750;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #F3EAC0;
    border: 1px solid #F3EAC0;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #1E2640;
    background-color: #F3EAC0;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid #F3EAC0;
    color: #F3EAC0;
    background-color: #1E2640;
}
.footer-col .form-sub input::placeholder{
    color: #F3EAC0;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #1E2640;
    border-radius: 3px;
    font-weight: bold;
    background-color: #F3EAC0;
    transition: 0.3s;        
}
.footer-col .form-sub button:hover{
    background-color: #922C40;
    color: #F3EAC0;
}


/* MEDIA QUERY RESPONSIVO*/
@media (max-width: 991px) {
    .meio{
        border: none;
    }
    #sobre{
        padding: 50px 0 0 0;
    }
    .about-txt{
        text-align: center;
        margin-top: 25px;
    }
    .social{
        visibility: hidden;
    }
    .social-mobile i{
        font-size: 2em;
        margin: 0 6px;
    }
    #servicos{
        padding: 50px 0;
    }
    .service{
        padding: 0;
    }
    .conteudo-video h3{
        text-align: center;
        font-size: 2em !important;
        margin: 25px;
    }
    .conteudo-video p{
        text-align: justify;
    }
    .ratings-lateral{
        margin-top: 0px;
    }
    nav{
        display: block;
    }
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    .column-about {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}
