/* 
    Cores
Rose Red       #922C40
Desert Sun     #DC9750
Champagne      #F3EAC0
Dark Blue      #1E2640
*/

/* Geral */
body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}
.container {
    width: 70%;
}
.highlight-text{
    font-weight: 900;
    color: #F3EAC0;
}

/*NavBar*/
nav{
    background-color: #1E2640;
    padding: 30px 0;
}
#logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 8%;
    height: auto;
    cursor: pointer;
}
#logo h2{
    padding: 0;
    margin: 0;
    margin-left: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: right;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    transition: 0.2s;
    border-bottom: 3px solid rgba(0,0,0,0);
}
nav ul li a:hover{
    border-bottom: 3px solid #F3EAC0;
    color: #FFF;
}
.active{
    font-weight: bolder;
}
.contact{
    background-color: #F3EAC0;
    padding: 10px 20px;
    color: #1E2640 !important;
    font-weight: 500;
    border-radius: 2px;
    margin-left: 25px;
}

/*Showcase*/
#showcase{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(img/showcase.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}
#showcase img{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#showcase h1{
    font-size: 1.7em;
}
#showcase h1, #showcase p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 50px;
}
#showcase p{
    margin: 10px 0;
}
#showcase button{
    margin-top: 10px;
    border: none;
    padding: 10px 30px;
    background-color: #1E2640;
    color: #FFF;
    font-weight: 500;
    border-radius: 2px;
}
#showcase hr{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Sobre Mim */
#sobre{
    background-color: #1E2640;
    padding: 100px 0;
    margin-top: 25px;
}
#sobre h2, #preco h2, #servicos h2{
    margin-bottom: 50px;
}
.img-luciana{
    border-radius: 50%;
    width:85%;
    display: block;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    border: 3px solid #FFF;
    padding: 15px;
    transition: 0.5s;
    /*box-shadow: -4px 10px 28px -4px #F3EAC0;*/
}
.img-luciana:hover{
    padding: 5px;
}
.imagem-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    display: flex;
    align-content: center;
    margin-top: 10px;
}
.social i{
    font-size: 1.5em;
    color: #F3EAC0;
    margin-right: 10px;
}
.social a{
    text-decoration: none;
    color: #fff;
    align-self: center;
    display: block;
}
@media screen and (max-width: 500px) {
    .column-about {
        width: 100%;
    }
}
.about-txt {
    width: auto;
    height: auto;
    font-size: 20px;
    color: #fff;
}
.texto-sobre{
    display: flex;
    align-items: center;
}
.container-about {
    color: #F3EAC0;
}
.sobre-mim {
    padding-top: 10px;
    text-align: center;

}
/* Serviços */
#servicos{
    background-color: #F3EAC0;
    text-align: center;
    padding: 100px 0;
    color: #1E2640;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    padding: 50px;
    margin: 50px 0;
}
.conteudo img{
    display: block;
    margin: 0 auto;
    padding: 25px 0;
}
.conteudo p{
    font-size: 1.1em !important;
}
.conteudo h3{
    font-weight: 700;
    color: #1E2640;
}
.meio{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

/* Preços */
#preco{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
}
#preco h2{
    text-align: center;
    color: #1E2640;
}
#preco p{
    text-align: center;
    margin-bottom: 50px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.enterprise {
    border: 2px solid #1E2640;
    background-color: #1E2640;
    color: aliceblue;
}

.enterprises {
    border: 2px solid #1E2640;
}

.blue-btn {
    color: aliceblue;
    background-color: #1E2640;
    transition: 0.2s;
}
.text-muted{
    font-size: 0.5em;
}
.blue-btn:hover {
    color: aliceblue;
    animation-duration: 1s;
    background-color: #922C40;
}
.btn-outline-dark{
    transition: 0.2s;
}
.btn-outline-dark:hover{
    background-color: #922C40;
    border: 1px solid rgba(0,0,0,0);
}
/* Modal */
.modal-header{
    background-color: #1E2640;
    color: #eee;
}
.close{
    background-color: #922C40;
    color: white;
}

/* Avalição de usuarios */

.card {

    border: none;
}

.user-content p {
    margin-top: 5px;
    font-size: 12px;
}


.ratings i {
    color: blue;
}

.image-user {
    object-fit: cover;
    border-radius: 100%;
}

/* MEDIA QUERY RESPONSIVO*/
@media (max-width: 991px) {
    .meio{
        border: none;
    }
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}